#ComponentList 
{
    position: absolute;
    top:49px;
    left:0;
    bottom:0;
    width:100%;
    background: none;
    overflow-y:auto;
    padding-bottom: 10px;
}

.component-item
{
    width:100%;
    float:left;
    height:64px;
    background: #e9f1fb;
    border-bottom:1px solid #afb6c0;
    cursor: move;
    position: relative;
}

.component-item .ui-dragging
{
	width:280px;
}

.component-item .component-item-icon
{
    float:left;
    margin:7px;
}

.component-item .component-item-info
{
    position: absolute;
    left:80px;
    right:6px;
    top:5px;
    bottom:11px;
}

.component-item .component-item-name
{
    color:#444;
    font-size:14px;
    font-weight: bold;
    width:auto;
    float:left;
}
 

.component-item .component-item-description
{
    font-size:12px;
    color:#727272; 
    float:left;

}

.component
{
    cursor: default;
     
}


#ComponentsSearchView
{
    position: absolute;
    top:0;
    left:0;
    right:0;
    height:48px;
    background: #e5e5e5;
    border-bottom: 1px solid #b0b0b0;
}

#ComponentSearch
{
     position: absolute;
     left:10px;
     right:10px;
     top:10px;
     bottom:10px;
}

div.ui-draggable-dragging
{
    cursor: move;
    z-index: 1000;
}