#EditorView
{
   overflow: auto;
   background: url('../Resources/grid.png') repeat; 
   height:100%;
   width: 100%; 
    
}

#EditorView .table-container
{
   height: 100%; 
   width: 100%;
   display: table; 
   
}
 

#EditorView .center-container
{
	outline: none; 
	padding:20px ; 
	display: table-cell;
	vertical-align: middle;
	box-sizing:border-box;
	text-align: center; 
}



.uibuilder-design-view
{
	 
	background: #fff; 
	width: 800px;
	height: 520px; 
	position: relative;
	margin: auto; 
}

.uibuilder-design-view.droppable-over
{
	background: rgba(177,140,218, 1.0);
	box-shadow:inset 0 0 3px 1px #7c0fa2;
	border:1px solid #7c0fa2;
}

.uibuilder-design-frame
{
	position: relative;
	background: none;
	box-sizing:border-box;
	overflow: visible;
	outline: none;
	z-index: 0 !important;
}


#EditorView .uibuilder-grouping-box
{
	background: rgba(25, 117, 209, 0.15);
	border:1px solid #1975D1;
	position: absolute;
	z-index: 100000 ;
	box-sizing:border-box;

}

.uibuilder-edit-mask
{
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	display: none;
	box-sizing:border-box;
	z-index: 2000;
	pointer-events:none;
	position: absolute;
	top:0;
	left: 0;
}