
.uibuilder-component-edit
{
	position: absolute;
	margin: 0;
	border:none;
	background: #99b4c8;
	box-sizing:border-box; 
	padding:6px;
	border-radius: 5px;

	 
}

.uibuilder-component-edit textarea
{ 
	width:100%;
	height:100%;
	padding:0;
	resize: none;
	overflow: hidden;
	background: #fff;
	box-shadow:none; 
	pointer-events:visiblePainted;
	 
}

.uibuilder-component-edit.appkit-button textarea
{
	text-align: center; 
	resize: none;
	overflow: hidden;
	background: #fff;
	box-shadow:none; 
}


.uibuilder-custom-view-icon
{
	width:60px;
	height: 50px;
	background: #bfd4e6;
	font-size:10px;
	color:#fafafa;
	text-align:center;
	padding-top:10px;
	box-sizing:border-box;
	border:1px dashed #8694A1;
}

.uibuilder-custom-view
{
	width:150px;
	height:150px; 
	background: rgba(181,194,211, 0.8); 
	box-sizing:border-box;
	border:1px dashed #8694A1;
	overflow:visible; 
	z-index: 0;  
	position: relative;
	margin:0;
	padding:0; 
}
 
 

.uibuilder-custom-view.droppable-over
{	
	background: rgba(177,140,218, 0.6);
	box-shadow:inset 0 0 2px 1px #7c0fa2;
	border:1px solid #7c0fa2;
}


.uibuilder-custom-view .table-container
{
	width:100%;
	height: 100%;
	display: table;
}

.uibuilder-custom-view .info-text
{
	width:100%;
	text-align: center;
	color:#fafafa;
	margin:auto;
	display: table-cell;
	vertical-align: middle;
}



.uibuilder-editframe
{
	position: absolute !important;
	background: none;
	box-sizing:border-box;
	overflow: visible;
	outline: none;
	pointer-events:visiblePainted;
	 
}

.uibuilder-editframe .uibuilder-editframe-selectmask
{
	width:100%;
	height:100%;
	border-box:box-sizing;
	z-index: 5;
	position: absolute;
	top:0;
	left:0;
	background: rgba(0,255,0, 0.2); 
	pointer-events:none;
	display: none;

}

.uibuilder-editframe.ui-state-selected > .uibuilder-custom-view
{
	background: rgba(200,200,200,0.8); 
}


.uibuilder-editframe.editMode > .uibuilder-custom-view
{
	 background:rgba(229, 238, 245, 0.8);

}
 

.uibuilder-editframe.ui-state-selected > .uibuilder-custom-view .info-text
{
	color:#fff; 
}
 

.uibuilder-editframe.editMode > .uibuilder-custom-view .info-text
{
	 color: #e5e5e5; 
}
 

.uibuilder-editframe .edit-resizer
{
	width:6px;
	height:6px;
	border:1px solid #5A845B;
	background: #81bc82;
	position: absolute; 
	z-index: 10;
	border-radius: 6px;
}

.uibuilder-editframe .edit-resizer.left
{
	
	left:-3px;
	cursor: ew-resize;
}

.uibuilder-editframe .edit-resizer.right
{
	right:-3px;
	cursor: ew-resize;
}

.uibuilder-editframe .edit-resizer.top
{
	top:-3px;
	cursor: ns-resize;
}

.uibuilder-editframe .edit-resizer.bottom
{
	bottom:-3px;
	cursor: ns-resize;
}

.uibuilder-editframe .edit-resizer.topleft
{
	top:-3px;
	left:-3px;
	cursor: nwse-resize;
}

.uibuilder-editframe .edit-resizer.bottomleft
{
	bottom:-3px;
	left:-3px;
	cursor: nesw-resize;
}

.uibuilder-editframe .edit-resizer.topright
{
	top:-3px;
	right:-3px;
	cursor: nesw-resize;
}

.uibuilder-editframe .edit-resizer.bottomright
{
	bottom:-3px;
	right:-3px;
	cursor: nwse-resize;
}

