

#Inspector 
{
    background:#fff;
}

#InspectorSegmentedControl
{
    height:28px;
    position: absolute;
    top:0;
    left:-1px;
    right:-1px;

}

#InspectorSegmentedControl .ui-segment
{
    border-top:none;
}

#InspectorSegmentedControl .ui-segment.first,
#InspectorSegmentedControl .ui-segment.last
{
    border-radius: 0;
}

 


#SidePane
{
    width:300px;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    background: #e9f2fd;
    border-left:1px solid #bbb;
}