<!-- buttons -->


<div class='appkit-box' data-label='Buttons'>
	 
	<div class='appkit-button btn' id='Button1'
		 data-action='AppKit.Tests.BasicTestsController.showMenu'>Button</div>
	<div class='appkit-button btn' id='Button2' data-type='primary'>Primary Button</div>
	<div class='appkit-button btn' id='Button3' data-type='danger'>Danger Button</div>
	<div class='appkit-button btn' id='Button4' data-enabled='false'>Disabled Button</div>
	<div class='appkit-button btn' id='Button5' data-enabled='false' 
		data-type='primary'>Disabled Button 2</div>

	<div class='appkit-button btn'>
		<div class='icon-music' style='font-size:16px;margin-top:4px;display:inline-block;'></div>
		Music
	</div>

	<div class='appkit-button btn icon-only' data-text="false">
		<div class='icon-music'></div>
	</div>
</div>

<div class='appkit-box' data-label="Segmented Control">
	<div class='appkit-segmented-control' >
		<div class='appkit-segment' style='width:40%;'>Seg 1</div>
		<div class='appkit-segment' style='width:30%;'>Seg 2</div>
		<div class='appkit-segment' style='width:30%;'>Seg 3</div>
	</div>

</div>

<div class='appkit-box' data-label='Checkbox'>
	 
	<div class='appkit-checkbox' data-checked='false'>Check Me</div>

</div>

<div class='appkit-box' data-label='Radio'> 
	<div class='appkit-radio-group'   > 
		<div class='appkit-radio' data-selected="true">Radio 1</div> 
		<div class='appkit-radio'>Radio 2</div>
		<div class='appkit-radio'>Radio 3</div>
		<div class='appkit-radio'>Radio 4</div>
	</div>

	<div class='appkit-radio-group' > 
		<div class='appkit-radio row' data-selected="true">Radio 1</div> <br />
		<div class='appkit-radio row'>Radio 2</div> <br />
		<div class='appkit-radio row'>Radio 3</div> <br />
		<div class='appkit-radio row'>Radio 4</div> <br />
	</div>

</div>

<div class='appkit-box' data-label="Combo Box"> 
	<div class='appkit-combo control' data-radio='true' data-outlet='AppKit.Tests.BasicTestsController.combo'>
			<div class='appkit-menu'>
				<div class='appkit-menu-item'>Item 1</div>
				<div class='appkit-menu-item'>Item 2</div>
				<div class='appkit-menu-item'>Item 3</div>
				<div class='appkit-menu-item-separator'></div>
				<div class='appkit-menu-item'>Item 4</div>
			</div>
	</div>

	<div class='appkit-combo control' data-radio='true' data-enabled='false'
		data-value="Disabled">
			<div class='appkit-menu'>
				<div class='appkit-menu-item'>Item 1</div>
				<div class='appkit-menu-item'>Item 2</div>
				<div class='appkit-menu-item'>Item 3</div>
				<div class='appkit-menu-item-separator'></div>
				<div class='appkit-menu-item'>Item 4</div>
			</div>
	</div>
</div>


<div class='appkit-box' data-label="Text Field"> 
	<div class='appkit-textfield control'></div> <br/>
	<div class='appkit-searchfield control'></div>
	<div class='appkit-textfield control' data-enabled='false' data-value='Disabled' ></div>
</div>

<div class='appkit-box' data-label="Stepper"> 
	<div class="appkit-stepper" id="Stepper"
		data-action="AppKit.Tests.BasicTestsController.onStepper" 
		data-outlet='AppKit.Tests.BasicTestsController.stepper'
		></div>

	<div class="appkit-stepper"  
		data-enabled="false"></div>
	 
</div>

<div class='appkit-box' data-label="Sliders">
	 
	<div class='appkit-slider hor' id='Slider' data-continuous='true' 
		data-action='AppKit.Tests.BasicTestsController.onSlider' 
		data-outlet='AppKit.Tests.BasicTestsController.slider'
		data-step='5' ></div> 
	<div class='appkit-slider vert' data-vertical="true" data-value='50'></div> 
	<div class='appkit-slider hor' data-type='circular' ></div>  
</div>