<div class='appkit-dialog' id="MyDialog" data-width='500' data-height='500' data-maximizable='true' data-min-width='300'
data-resizable='true' data-visible='true' data-title="A Dialog" style='background:#fff;'
data-delegate='AppKit.Tests.BasicTestsController'>

	<div class='appkit-segmented-control' data-type='primary' id="DialogSegControl"> 
		<div class='appkit-segment' style='width:25%;'>Option 1</div>
		<div class='appkit-segment' style='width:25%;'>Option 2</div>
		<div class='appkit-segment' style='width:25%;'>Option 3</div>
		<div class='appkit-segment' style='width:25%;'>Option 4</div>
	</div>

	<div class='appkit-box' id='DialogBox' data-label='A Box'>

		<div class='appkit-radio-group'> 
		<div class='appkit-radio' data-selected="true">Radio 1</div> 
		<div class='appkit-radio'>Radio 2</div>
		<div class='appkit-radio'>Radio 3</div>
		<div class='appkit-radio'>Radio 4</div>
	</div>

	<div class='appkit-radio-group' > 
		<div class='appkit-radio row' data-selected="true">Radio 1</div> <br />
		<div class='appkit-radio row'>Radio 2</div> <br />
		<div class='appkit-radio row'>Radio 3</div> <br />
		<div class='appkit-radio row'>Radio 4</div> <br />
	</div>

	</div>

</div>