<style type="text/css">

	.myButton
	{
		width:200px;
		height:28px;
		position:absolute;
		right:15px;
		bottom:15px;
	}
	
	.mySlider
	{
		width:120px;
		margin:15px;
	}
	
	.checkbox-parent
	{
		margin:15px;
	}

</style>

<div class='appkit-box checkbox-parent' data-label='Options'>
	<div class='appkit-radio-group'>
		<div class='appkit-radio' data-value='true'>Option 1</div>
		<div class='appkit-radio' data-outlet='AppKit.Tests.BasicTestsController.myCheckbox'>Option 2</div>
		<div class='appkit-radio' style='color:red;'>Option 3</div>
	</div>
</div>


<div class='appkit-button myButton' data-action='AppKit.Tests.BasicTestsController.onTest' data-type='primary'>Test</div>