
<div class="appkit-splitview" id='SplitView'>
	<div class="appkit-sidebar" id="Sidebar" data-width="260" data-delegate='AppKit.Tests.BasicTestsController'>
		 <div class='appkit-sidebar-node' data-id='level-1' 
			data-icon='icon-folder'  data-text="Algebra 1" data-group='true' data-expanded='true'>
				
				<div class='appkit-sidebar-node' data-icon='icon-home' data-text='Home'></div>
			
			</div>
	</div>
 
	
	
	<div class="appkit-splitview" data-orientation="vertical">

    	<div class="appkit-view" data-height='250'></div>
    	<div class="appkit-view">

    		<div class="appkit-button"  data-type="primary"
    			style="position:absolute;left:15px;right:15px;bottom:15px;height:28px;">
    			Click Me </div>

    	</div>

    </div>

</div>