<div id="Desktop" class="appkit-splitview" data-orientation="horizontal">

        <div id='test' class="appkit-view" data-width='250'>
        	
        	<div class="appkit-view" 
        		style="position:absolute;left:0;right:0;bottom:0px;height:30px;
        	background:#dadada;border-top:1px solid #b0b0b0;">

        		<div class="appkit-button icon-plus3" data-text="false" id="AddButton" > </div>

        		<div class="appkit-button icon-cog" data-text="false" id="MinusButton" > </div>

        </div>

        </div>
        <div class="appkit-splitview" data-orientation="vertical">

        	<div class="appkit-view" data-height='250'></div>
        	<div class="appkit-view">

        		<div class="appkit-button"  data-type="primary"
        			style="position:absolute;left:15px;right:15px;bottom:15px;height:28px;">
        			Click Me </div>

        	</div>

        </div>

</div>