/*= require ../css/appkit.css */

body, html
{
	background: #e9f2fd;
    overflow: auto;
}



#SplitView
{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display:block;
}

#Button1
{
    margin:30px;
    width:60px;
    height: 24px;
}

#AddButton,
#AddButton2,
#MinusButton,
#MinusButton2
{
    width:32px;
    height:100%;
    float:left;
    text-align:center;
    font-size:18px;
    color:#444;
    border:none;
    box-shadow:none;
    background:none;
    border-radius:0;
    border-right:1px solid #b0b0b0;
    padding-top:6px;
    text-shadow:none;

} 
 
#MinusButton,
#MinusButton2
{
    font-size:16px;
    padding-top:7px;
}

#MinusButton.ui-state-active,
#AddButton.ui-state-active,
#MinusButton2.ui-state-active,
#AddButton2.ui-state-active
{
    background: #b0b0b0;
}

.box,
.appkit-box
{
	margin:15px;
	border:1px solid #b0b0b0;
	color:#444;
	padding:15px;
	width:auto;
	float:left;
    font-size:14px;
}


.btn {
	width:125px;
	height: 28px;
	margin-top:10px;
    font-size:13px;
}

.button-bar
{
    display: block;
    position: absolute;
    left:7px; 
    bottom:15px;
    right:7px;
    height:30px;
     
}

.appkit-button.icon-only
{
    font-size:16px;
    height:32px;
    width:32px;
}

.control
{
	margin:25px;
    width:120x;
}

.appkit-textfield
{
	height:28px;
}

.appkit-searchfield
{
	height:28px;
}

.appkit-slider.hor
{
    width:120px;
    margin:50px;
}

.appkit-slider.vert
{
    height:120px;
    margin:50px;
}

.appkit-segmented-control
{
    margin-top:18px;
    height:25px;
    width:200px; 
    font-size:13px;
}

.appkit-checkbox
{
    margin-top:10px;
}

.appkit-stepper
{
    width:100px;
    height: 28px;
    margin-top:10px;
}

.appkit-radio-group
{
    margin-top:10px;
}

.appkit-radio.row
{
    display: inline-block;
}

#DialogSegControl
{
    position: absolute;
    left:15px;
    right:15px;
    top:15px;
    height:28px;
    margin-top:0;
    width:auto;
}

#DialogBox
{
    position: absolute;
    top:65px;
    left:15px;
    right:15px; 
    height:200px;
}

#TabView
{
    position: absolute;
    left:25px;
    top:25px;
    width:400px;
    height:300px;

}

#SecondTabView
{
    position: absolute;
    left:20px;
    top:20px;
    bottom:20px;
    right:20px;
}



#TabSlider {
    position: absolute;
    top:25px;
    left:15px;
    width:125px;
}

#Desktop
{
    background: #f5f5f5;
    position:absolute;
    top:0px;
    bottom:0;
    width:100%;
    overflow: hidden;
}