

<div class="appkit-tabview" id="TabView">
	<div class="appkit-view" data-tab-name="First Tab">

		<div class="appkit-slider" id="TabSlider"></div>

	</div>
	 <div class="appkit-view" data-closable="true" data-tab-name="Second">
	 	<div class="appkit-tabview" id="SecondTabView">
	 			<div class="appkit-view" data-tab-name="Tab 1">
	 				<div class="appkit-button" style="height:28px;"
	 				data-type="primary">A Button</div>
	 			</div>
	 			<div class="appkit-view" data-tab-name="Tab 2"></div>
	 			<div class="appkit-view" data-tab-name="Tab 3"></div> 
	 	</div>
	 </div>
	
	<div class="appkit-view" data-tab-name="Third Tab"> </div>
	<div class="appkit-view" data-tab-name="Fourth Tab"> </div>
	<div class="appkit-view" data-tab-name="Tab Five"> This is the Fifth Tab! </div>
	<div class="appkit-view" data-tab-name="Sixth Tab"> </div>
</div>