<div id="Inspector" class='appkit-view'>

	<div class='appkit-segmented-control' id='InspectorSegmentedControl'>
		<div class='appkit-segment' style='width:28%;'>Attributes</div>
		<div class='appkit-segment' style='width:16%;'>Size</div>
		<div class='appkit-segment' style='width:35%;'>Connections</div>
		<div class='appkit-segment' style='width:21%;'>Class</div>

	</div> 


	
	
	 
	 
</div>