<% toolbar %>


<div id="Desktop" class="appkit-view">

        <div class="appkit-view" id="MainView" > 
                  
                  <div id="EditorView" class='uibuilder-editor-view'
                 		data-outlet='UIBuilder.EditorViewController.view'>
                 		 <div class='table-container'>
                 		 	<div class='center-container'></div>
                 		 </div>
                 	</div>

        </div>
        

        <% SidePane %>
        

</div>


