<div class="appkit-splitview" id="SidePane" data-orientation='vertical'>

                <div id="ComponentsView" class='appkit-view' data-height='300'>
                	<div id="ComponentsSearchView" class='appkit-view'>
                		<div id="ComponentSearch" class='appkit-searchfield'
                		data-placeholder='Search Components' ></div>
                	 </div>

                	 <div id="ComponentList" class='appkit-view'></div>


                </div>
                

                <% Inspector %>
                
</div>



<div class='appkit-template' id="ComponentItemTemplate">
	<div class='component-item-icon'>
		{{image}}
	</div>
	
	<div class='component-item-info'>
		<div class='component-item-name'>{{name}}</div>
		<div class='component-item-description'>{{description}}</div>
	</div>
</div>
