/*= require ./AppKit/css/appkit.css 
*= require ./css/sidepanel.css
*= require ./css/components.css
*= require ./css/designer.css
*= require ./css/editable.css
*= require ./plugins/style.css
*/


#Desktop
{
    position: absolute;
    top:51px;
    bottom:0;
    left:0;
    right:0;
    border: none;
}
 

#MainView
{
    position: absolute;
    left:0;
    right:300px;
    bottom:0;
    top:0;
}

.toolbar
{
    height: 50px;
    width:100%;
    background: #fafafa;
    border-bottom: 1px solid #999;
}