@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?-mlf6xh');
    src: url('fonts/icomoon.eot?#iefix-mlf6xh') format('embedded-opentype'),
    url('fonts/icomoon.woff?-mlf6xh') format('woff'),
    url('fonts/icomoon.ttf?-mlf6xh') format('truetype'),
    url('fonts/icomoon.svg?-mlf6xh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-plus3:before {
    content: "\e611";
}

.icon-home:before {
    content: "\e608";
}

.icon-home2:before {
    content: "\e60e";
}

.icon-home3:before {
    content: "\e609";
}

.icon-office:before {
    content: "\e60a";
}

.icon-newspaper:before {
    content: "\e60b";
}

.icon-pencil:before {
    content: "\e60c";
}

.icon-pencil2:before {
    content: "\e612";
}

.icon-quill:before {
    content: "\e613";
}

.icon-pen:before {
    content: "\e614";
}

.icon-blog:before {
    content: "\e615";
}

.icon-droplet:before {
    content: "\e616";
}

.icon-paint-format:before {
    content: "\e617";
}

.icon-image:before {
    content: "\e618";
}

.icon-image2:before {
    content: "\e619";
}

.icon-images:before {
    content: "\e61a";
}

.icon-camera:before {
    content: "\e61b";
}

.icon-music:before {
    content: "\e61c";
}

.icon-headphones:before {
    content: "\e61d";
}

.icon-play:before {
    content: "\e61e";
}

.icon-film:before {
    content: "\e61f";
}

.icon-camera2:before {
    content: "\e620";
}

.icon-dice:before {
    content: "\e621";
}

.icon-pacman:before {
    content: "\e622";
}

.icon-spades:before {
    content: "\e623";
}

.icon-clubs:before {
    content: "\e624";
}

.icon-diamonds:before {
    content: "\e625";
}

.icon-pawn:before {
    content: "\e626";
}

.icon-bullhorn:before {
    content: "\e627";
}

.icon-connection:before {
    content: "\e628";
}

.icon-podcast:before {
    content: "\e629";
}

.icon-feed:before {
    content: "\e62a";
}

.icon-book:before {
    content: "\e62b";
}

.icon-books:before {
    content: "\e62c";
}

.icon-library:before {
    content: "\e62d";
}

.icon-file:before {
    content: "\e62e";
}

.icon-profile:before {
    content: "\e62f";
}

.icon-file2:before {
    content: "\e630";
}

.icon-file3:before {
    content: "\e631";
}

.icon-file4:before {
    content: "\e632";
}

.icon-copy:before {
    content: "\e633";
}

.icon-copy2:before {
    content: "\e634";
}

.icon-copy3:before {
    content: "\e635";
}

.icon-paste:before {
    content: "\e636";
}

.icon-paste2:before {
    content: "\e637";
}

.icon-paste3:before {
    content: "\e638";
}

.icon-stack:before {
    content: "\e639";
}

.icon-folder:before {
    content: "\e63a";
}

.icon-folder-open:before {
    content: "\e63b";
}

.icon-tag:before {
    content: "\e63c";
}

.icon-tags:before {
    content: "\e63d";
}

.icon-barcode:before {
    content: "\e63e";
}

.icon-qrcode:before {
    content: "\e63f";
}

.icon-ticket:before {
    content: "\e640";
}

.icon-cart:before {
    content: "\e641";
}

.icon-cart2:before {
    content: "\e642";
}

.icon-cart3:before {
    content: "\e643";
}

.icon-coin:before {
    content: "\e644";
}

.icon-credit:before {
    content: "\e645";
}

.icon-calculate:before {
    content: "\e646";
}

.icon-support:before {
    content: "\e647";
}

.icon-phone:before {
    content: "\e648";
}

.icon-phone-hang-up:before {
    content: "\e649";
}

.icon-address-book:before {
    content: "\e64a";
}

.icon-notebook:before {
    content: "\e64b";
}

.icon-envelope:before {
    content: "\e64c";
}

.icon-pushpin:before {
    content: "\e64d";
}

.icon-location:before {
    content: "\e64e";
}

.icon-location2:before {
    content: "\e64f";
}

.icon-compass:before {
    content: "\e650";
}

.icon-map:before {
    content: "\e651";
}

.icon-map2:before {
    content: "\e652";
}

.icon-history:before {
    content: "\e653";
}

.icon-clock:before {
    content: "\e654";
}

.icon-clock2:before {
    content: "\e655";
}

.icon-alarm:before {
    content: "\e656";
}

.icon-alarm2:before {
    content: "\e657";
}

.icon-bell:before {
    content: "\e658";
}

.icon-stopwatch:before {
    content: "\e659";
}

.icon-calendar:before {
    content: "\e65a";
}

.icon-calendar2:before {
    content: "\e65b";
}

.icon-print:before {
    content: "\e65c";
}

.icon-keyboard:before {
    content: "\e65d";
}

.icon-screen:before {
    content: "\e65e";
}

.icon-laptop:before {
    content: "\e65f";
}

.icon-mobile:before {
    content: "\e660";
}

.icon-mobile2:before {
    content: "\e661";
}

.icon-tablet:before {
    content: "\e662";
}

.icon-tv:before {
    content: "\e663";
}

.icon-cabinet:before {
    content: "\e664";
}

.icon-drawer:before {
    content: "\e665";
}

.icon-drawer2:before {
    content: "\e666";
}

.icon-drawer3:before {
    content: "\e667";
}

.icon-box-add:before {
    content: "\e668";
}

.icon-box-remove:before {
    content: "\e669";
}

.icon-download:before {
    content: "\e66a";
}

.icon-upload:before {
    content: "\e66b";
}

.icon-disk:before {
    content: "\e66c";
}

.icon-storage:before {
    content: "\e66d";
}

.icon-undo:before {
    content: "\e66e";
}

.icon-redo:before {
    content: "\e66f";
}

.icon-flip:before {
    content: "\e670";
}

.icon-flip2:before {
    content: "\e671";
}

.icon-undo2:before {
    content: "\e672";
}

.icon-redo2:before {
    content: "\e673";
}

.icon-forward:before {
    content: "\e674";
}

.icon-reply:before {
    content: "\e675";
}

.icon-bubble:before {
    content: "\e676";
}

.icon-bubbles:before {
    content: "\e677";
}

.icon-bubbles2:before {
    content: "\e678";
}

.icon-bubble2:before {
    content: "\e679";
}

.icon-bubbles3:before {
    content: "\e67a";
}

.icon-bubbles4:before {
    content: "\e67b";
}

.icon-user:before {
    content: "\e67c";
}

.icon-users:before {
    content: "\e67d";
}

.icon-user2:before {
    content: "\e67e";
}

.icon-users2:before {
    content: "\e67f";
}

.icon-user3:before {
    content: "\e680";
}

.icon-user4:before {
    content: "\e681";
}

.icon-quotes-left:before {
    content: "\e682";
}

.icon-busy:before {
    content: "\e683";
}

.icon-spinner:before {
    content: "\e684";
}

.icon-spinner2:before {
    content: "\e685";
}

.icon-spinner3:before {
    content: "\e686";
}

.icon-spinner4:before {
    content: "\e687";
}

.icon-spinner5:before {
    content: "\e688";
}

.icon-spinner6:before {
    content: "\e689";
}

.icon-binoculars:before {
    content: "\e68a";
}

.icon-search:before {
    content: "\e68b";
}

.icon-zoomin:before {
    content: "\e68c";
}

.icon-zoomout:before {
    content: "\e68d";
}

.icon-expand:before {
    content: "\e68e";
}

.icon-contract:before {
    content: "\e68f";
}

.icon-expand2:before {
    content: "\e690";
}

.icon-contract2:before {
    content: "\e691";
}

.icon-key:before {
    content: "\e692";
}

.icon-key2:before {
    content: "\e693";
}

.icon-lock:before {
    content: "\e694";
}

.icon-lock2:before {
    content: "\e695";
}

.icon-unlocked:before {
    content: "\e696";
}

.icon-wrench:before {
    content: "\e697";
}

.icon-settings:before {
    content: "\e698";
}

.icon-equalizer:before {
    content: "\e699";
}

.icon-cog:before {
    content: "\e69a";
}

.icon-cogs:before {
    content: "\e69b";
}

.icon-cog2:before {
    content: "\e605";
}

.icon-hammer:before {
    content: "\e69c";
}

.icon-wand:before {
    content: "\e69d";
}

.icon-aid:before {
    content: "\e69e";
}

.icon-bug:before {
    content: "\e69f";
}

.icon-pie:before {
    content: "\e6a0";
}

.icon-stats:before {
    content: "\e6a1";
}

.icon-bars:before {
    content: "\e6a2";
}

.icon-bars2:before {
    content: "\e6a3";
}

.icon-gift:before {
    content: "\e6a4";
}

.icon-trophy:before {
    content: "\e6a5";
}

.icon-glass:before {
    content: "\e6a6";
}

.icon-mug:before {
    content: "\e6a7";
}

.icon-food:before {
    content: "\e6a8";
}

.icon-leaf:before {
    content: "\e6a9";
}

.icon-rocket:before {
    content: "\e6aa";
}

.icon-meter:before {
    content: "\e6ab";
}

.icon-meter2:before {
    content: "\e6ac";
}

.icon-dashboard:before {
    content: "\e6ad";
}

.icon-hammer2:before {
    content: "\e6ae";
}

.icon-fire:before {
    content: "\e6af";
}

.icon-lab:before {
    content: "\e6b0";
}

.icon-magnet:before {
    content: "\e6b1";
}

.icon-remove:before {
    content: "\e6b2";
}

.icon-remove2:before {
    content: "\e6b3";
}

.icon-briefcase:before {
    content: "\e6b4";
}

.icon-airplane:before {
    content: "\e6b5";
}

.icon-truck:before {
    content: "\e6b6";
}

.icon-road:before {
    content: "\e6b7";
}

.icon-accessibility:before {
    content: "\e6b8";
}

.icon-target:before {
    content: "\e6b9";
}

.icon-shield:before {
    content: "\e6ba";
}

.icon-lightning:before {
    content: "\e6bb";
}

.icon-switch:before {
    content: "\e6bc";
}

.icon-powercord:before {
    content: "\e6bd";
}

.icon-signup:before {
    content: "\e6be";
}

.icon-list:before {
    content: "\e6bf";
}

.icon-list2:before {
    content: "\e6c0";
}

.icon-numbered-list:before {
    content: "\e6c1";
}

.icon-menu:before {
    content: "\e6c2";
}

.icon-menu2:before {
    content: "\e6c3";
}

.icon-tree:before {
    content: "\e6c4";
}

.icon-cloud:before {
    content: "\e6c5";
}

.icon-cloud-download:before {
    content: "\e6c6";
}

.icon-cloud-upload:before {
    content: "\e6c7";
}

.icon-download2:before {
    content: "\e6c8";
}

.icon-upload2:before {
    content: "\e6c9";
}

.icon-download3:before {
    content: "\e6ca";
}

.icon-upload3:before {
    content: "\e6cb";
}

.icon-globe:before {
    content: "\e6cc";
}

.icon-earth:before {
    content: "\e6cd";
}

.icon-link:before {
    content: "\e6ce";
}

.icon-flag:before {
    content: "\e6cf";
}

.icon-attachment:before {
    content: "\e6d0";
}

.icon-eye:before {
    content: "\e6d1";
}

.icon-eye-blocked:before {
    content: "\e6d2";
}

.icon-eye2:before {
    content: "\e6d3";
}

.icon-bookmark:before {
    content: "\e6d4";
}

.icon-bookmarks:before {
    content: "\e6d5";
}

.icon-brightness-medium:before {
    content: "\e6d6";
}

.icon-brightness-contrast:before {
    content: "\e6d7";
}

.icon-contrast:before {
    content: "\e6d8";
}

.icon-star:before {
    content: "\e6d9";
}

.icon-star2:before {
    content: "\e6da";
}

.icon-star3:before {
    content: "\e6db";
}

.icon-heart:before {
    content: "\e6dc";
}

.icon-heart2:before {
    content: "\e6dd";
}

.icon-heart-broken:before {
    content: "\e6de";
}

.icon-thumbs-up:before {
    content: "\e6df";
}

.icon-thumbs-up2:before {
    content: "\e6e0";
}

.icon-happy:before {
    content: "\e6e1";
}

.icon-happy2:before {
    content: "\e6e2";
}

.icon-smiley:before {
    content: "\e6e3";
}

.icon-smiley2:before {
    content: "\e6e4";
}

.icon-tongue:before {
    content: "\e6e5";
}

.icon-tongue2:before {
    content: "\e6e6";
}

.icon-sad:before {
    content: "\e6e7";
}

.icon-sad2:before {
    content: "\e6e8";
}

.icon-wink:before {
    content: "\e6e9";
}

.icon-wink2:before {
    content: "\e6ea";
}

.icon-grin:before {
    content: "\e6eb";
}

.icon-grin2:before {
    content: "\e6ec";
}

.icon-cool:before {
    content: "\e6ed";
}

.icon-cool2:before {
    content: "\e6ee";
}

.icon-angry:before {
    content: "\e6ef";
}

.icon-angry2:before {
    content: "\e6f0";
}

.icon-evil:before {
    content: "\e6f1";
}

.icon-evil2:before {
    content: "\e6f2";
}

.icon-shocked:before {
    content: "\e6f3";
}

.icon-shocked2:before {
    content: "\e6f4";
}

.icon-confused:before {
    content: "\e6f5";
}

.icon-confused2:before {
    content: "\e6f6";
}

.icon-neutral:before {
    content: "\e6f7";
}

.icon-neutral2:before {
    content: "\e6f8";
}

.icon-wondering:before {
    content: "\e6f9";
}

.icon-wondering2:before {
    content: "\e6fa";
}

.icon-point-up:before {
    content: "\e6fb";
}

.icon-point-right:before {
    content: "\e6fc";
}

.icon-point-down:before {
    content: "\e6fd";
}

.icon-point-left:before {
    content: "\e6fe";
}

.icon-warning2:before {
    content: "\e60d";
}

.icon-notification:before {
    content: "\e6ff";
}

.icon-question:before {
    content: "\e700";
}

.icon-info:before {
    content: "\e701";
}

.icon-info2:before {
    content: "\e702";
}

.icon-blocked:before {
    content: "\e703";
}

.icon-cancel-circle:before {
    content: "\e704";
}

.icon-checkmark-circle:before {
    content: "\e705";
}

.icon-spam:before {
    content: "\e706";
}

.icon-close:before {
    content: "\e602";
}

.icon-checkmark:before {
    content: "\e707";
}

.icon-checkmark2:before {
    content: "\e708";
}

.icon-spell-check:before {
    content: "\e709";
}

.icon-minus:before {
    content: "\e70a";
}

.icon-plus2:before {
    content: "\e60f";
}

.icon-enter:before {
    content: "\e603";
}

.icon-exit:before {
    content: "\e606";
}

.icon-play2:before {
    content: "\e70b";
}

.icon-pause:before {
    content: "\e70c";
}

.icon-stop:before {
    content: "\e70d";
}

.icon-backward:before {
    content: "\e70e";
}

.icon-forward2:before {
    content: "\e70f";
}

.icon-play3:before {
    content: "\e607";
}

.icon-pause2:before {
    content: "\e710";
}

.icon-stop2:before {
    content: "\e711";
}

.icon-backward2:before {
    content: "\e712";
}

.icon-forward3:before {
    content: "\e713";
}

.icon-first:before {
    content: "\e714";
}

.icon-last:before {
    content: "\e715";
}

.icon-previous:before {
    content: "\e716";
}

.icon-next:before {
    content: "\e717";
}

.icon-eject:before {
    content: "\e718";
}

.icon-volume-high:before {
    content: "\e719";
}

.icon-volume-medium:before {
    content: "\e71a";
}

.icon-volume-low:before {
    content: "\e71b";
}

.icon-volume-mute:before {
    content: "\e71c";
}

.icon-volume-mute2:before {
    content: "\e71d";
}

.icon-volume-increase:before {
    content: "\e71e";
}

.icon-volume-decrease:before {
    content: "\e71f";
}

.icon-loop:before {
    content: "\e720";
}

.icon-loop2:before {
    content: "\e721";
}

.icon-loop3:before {
    content: "\e722";
}

.icon-shuffle:before {
    content: "\e723";
}

.icon-arrow-up-left:before {
    content: "\e724";
}

.icon-arrow-up:before {
    content: "\e725";
}

.icon-arrow-up-right:before {
    content: "\e726";
}

.icon-arrow-right:before {
    content: "\e727";
}

.icon-arrow-down-right:before {
    content: "\e728";
}

.icon-arrow-down:before {
    content: "\e729";
}

.icon-arrow-down-left:before {
    content: "\e72a";
}

.icon-arrow-left:before {
    content: "\e72b";
}

.icon-arrow-up-left2:before {
    content: "\e72c";
}

.icon-arrow-up2:before {
    content: "\e72d";
}

.icon-arrow-up-right2:before {
    content: "\e72e";
}

.icon-arrow-right2:before {
    content: "\e72f";
}

.icon-arrow-down-right2:before {
    content: "\e730";
}

.icon-arrow-down2:before {
    content: "\e731";
}

.icon-arrow-down-left2:before {
    content: "\e732";
}

.icon-arrow-left2:before {
    content: "\e733";
}

.icon-arrow-up-left3:before {
    content: "\e734";
}

.icon-arrow-up3:before {
    content: "\e735";
}

.icon-arrow-up-right3:before {
    content: "\e736";
}

.icon-arrow-right3:before {
    content: "\e737";
}

.icon-arrow-down-right3:before {
    content: "\e738";
}

.icon-arrow-down3:before {
    content: "\e739";
}

.icon-arrow-down-left3:before {
    content: "\e73a";
}

.icon-arrow-left3:before {
    content: "\e73b";
}

.icon-tab:before {
    content: "\e73c";
}

.icon-checkbox-checked:before {
    content: "\e73d";
}

.icon-checkbox-unchecked:before {
    content: "\e73e";
}

.icon-checkbox-partial:before {
    content: "\e73f";
}

.icon-radio-checked:before {
    content: "\e740";
}

.icon-radio-unchecked:before {
    content: "\e741";
}

.icon-crop:before {
    content: "\e742";
}

.icon-scissors:before {
    content: "\e743";
}

.icon-filter:before {
    content: "\e744";
}

.icon-filter2:before {
    content: "\e745";
}

.icon-font:before {
    content: "\e746";
}

.icon-text-height:before {
    content: "\e747";
}

.icon-text-width:before {
    content: "\e748";
}

.icon-bold:before {
    content: "\e749";
}

.icon-underline:before {
    content: "\e74a";
}

.icon-italic:before {
    content: "\e74b";
}

.icon-strikethrough:before {
    content: "\e74c";
}

.icon-omega:before {
    content: "\e74d";
}

.icon-sigma:before {
    content: "\e74e";
}

.icon-table:before {
    content: "\e74f";
}

.icon-table2:before {
    content: "\e750";
}

.icon-insert-template:before {
    content: "\e751";
}

.icon-pilcrow:before {
    content: "\e752";
}

.icon-lefttoright:before {
    content: "\e753";
}

.icon-righttoleft:before {
    content: "\e754";
}

.icon-paragraph-left:before {
    content: "\e755";
}

.icon-paragraph-center:before {
    content: "\e756";
}

.icon-paragraph-right:before {
    content: "\e757";
}

.icon-paragraph-justify:before {
    content: "\e758";
}

.icon-paragraph-left2:before {
    content: "\e759";
}

.icon-paragraph-center2:before {
    content: "\e75a";
}

.icon-paragraph-right2:before {
    content: "\e75b";
}

.icon-paragraph-justify2:before {
    content: "\e75c";
}

.icon-indent-increase:before {
    content: "\e75d";
}

.icon-indent-decrease:before {
    content: "\e75e";
}

.icon-newtab:before {
    content: "\e75f";
}

.icon-embed:before {
    content: "\e760";
}

.icon-code:before {
    content: "\e761";
}

.icon-console:before {
    content: "\e762";
}

.icon-share:before {
    content: "\e763";
}

.icon-mail:before {
    content: "\e764";
}

.icon-mail2:before {
    content: "\e765";
}

.icon-mail3:before {
    content: "\e766";
}

.icon-mail4:before {
    content: "\e767";
}

.icon-google:before {
    content: "\e768";
}

.icon-googleplus:before {
    content: "\e769";
}

.icon-googleplus2:before {
    content: "\e76a";
}

.icon-googleplus3:before {
    content: "\e76b";
}

.icon-googleplus4:before {
    content: "\e76c";
}

.icon-google-drive:before {
    content: "\e76d";
}

.icon-facebook:before {
    content: "\e76e";
}

.icon-facebook2:before {
    content: "\e76f";
}

.icon-facebook3:before {
    content: "\e770";
}

.icon-instagram:before {
    content: "\e771";
}

.icon-twitter:before {
    content: "\e772";
}

.icon-twitter2:before {
    content: "\e773";
}

.icon-twitter3:before {
    content: "\e774";
}

.icon-feed2:before {
    content: "\e775";
}

.icon-feed3:before {
    content: "\e776";
}

.icon-feed4:before {
    content: "\e777";
}

.icon-youtube:before {
    content: "\e778";
}

.icon-youtube2:before {
    content: "\e779";
}

.icon-vimeo:before {
    content: "\e77a";
}

.icon-vimeo2:before {
    content: "\e77b";
}

.icon-vimeo3:before {
    content: "\e77c";
}

.icon-lanyrd:before {
    content: "\e77d";
}

.icon-flickr:before {
    content: "\e77e";
}

.icon-flickr2:before {
    content: "\e77f";
}

.icon-flickr3:before {
    content: "\e780";
}

.icon-flickr4:before {
    content: "\e781";
}

.icon-picassa:before {
    content: "\e782";
}

.icon-picassa2:before {
    content: "\e783";
}

.icon-dribbble:before {
    content: "\e784";
}

.icon-dribbble2:before {
    content: "\e785";
}

.icon-dribbble3:before {
    content: "\e786";
}

.icon-forrst:before {
    content: "\e787";
}

.icon-forrst2:before {
    content: "\e788";
}

.icon-deviantart:before {
    content: "\e789";
}

.icon-deviantart2:before {
    content: "\e78a";
}

.icon-steam:before {
    content: "\e78b";
}

.icon-steam2:before {
    content: "\e78c";
}

.icon-github:before {
    content: "\e78d";
}

.icon-github2:before {
    content: "\e78e";
}

.icon-github3:before {
    content: "\e78f";
}

.icon-github4:before {
    content: "\e790";
}

.icon-github5:before {
    content: "\e791";
}

.icon-wordpress:before {
    content: "\e792";
}

.icon-wordpress2:before {
    content: "\e793";
}

.icon-joomla:before {
    content: "\e794";
}

.icon-blogger:before {
    content: "\e795";
}

.icon-blogger2:before {
    content: "\e796";
}

.icon-tumblr:before {
    content: "\e797";
}

.icon-tumblr2:before {
    content: "\e798";
}

.icon-yahoo:before {
    content: "\e799";
}

.icon-tux:before {
    content: "\e79a";
}

.icon-apple:before {
    content: "\e79b";
}

.icon-finder:before {
    content: "\e79c";
}

.icon-android:before {
    content: "\e79d";
}

.icon-windows:before {
    content: "\e79e";
}

.icon-windows8:before {
    content: "\e79f";
}

.icon-soundcloud:before {
    content: "\e7a0";
}

.icon-soundcloud2:before {
    content: "\e7a1";
}

.icon-skype:before {
    content: "\e7a2";
}

.icon-reddit:before {
    content: "\e7a3";
}

.icon-linkedin:before {
    content: "\e7a4";
}

.icon-lastfm:before {
    content: "\e7a5";
}

.icon-lastfm2:before {
    content: "\e7a6";
}

.icon-delicious:before {
    content: "\e7a7";
}

.icon-stumbleupon:before {
    content: "\e7a8";
}

.icon-stumbleupon2:before {
    content: "\e7a9";
}

.icon-stackoverflow:before {
    content: "\e7aa";
}

.icon-pinterest:before {
    content: "\e7ab";
}

.icon-pinterest2:before {
    content: "\e7ac";
}

.icon-xing:before {
    content: "\e7ad";
}

.icon-xing2:before {
    content: "\e7ae";
}

.icon-flattr:before {
    content: "\e7af";
}

.icon-foursquare:before {
    content: "\e7b0";
}

.icon-foursquare2:before {
    content: "\e7b1";
}

.icon-paypal:before {
    content: "\e7b2";
}

.icon-paypal2:before {
    content: "\e7b3";
}

.icon-paypal3:before {
    content: "\e7b4";
}

.icon-yelp:before {
    content: "\e7b5";
}

.icon-libreoffice:before {
    content: "\e7b6";
}

.icon-file-pdf:before {
    content: "\e7b7";
}

.icon-file-openoffice:before {
    content: "\e7b8";
}

.icon-file-word:before {
    content: "\e7b9";
}

.icon-file-excel:before {
    content: "\e7ba";
}

.icon-file-zip:before {
    content: "\e7bb";
}

.icon-file-powerpoint:before {
    content: "\e7bc";
}

.icon-file-xml:before {
    content: "\e7bd";
}

.icon-file-css:before {
    content: "\e7be";
}

.icon-html5:before {
    content: "\e7bf";
}

.icon-html52:before {
    content: "\e7c0";
}

.icon-css3:before {
    content: "\e7c1";
}

.icon-chrome:before {
    content: "\e7c2";
}

.icon-firefox:before {
    content: "\e7c3";
}

.icon-IE:before {
    content: "\e7c4";
}

.icon-opera:before {
    content: "\e7c5";
}

.icon-safari:before {
    content: "\e7c6";
}

.icon-IcoMoon:before {
    content: "\e7c7";
}

.icon-clipboard:before {
    content: "\e610";
}

.icon-window-restore:before {
    content: "\e604";
}

.icon-window-min:before {
    content: "\e600";
}

.icon-window-max:before {
    content: "\e601";
}

.icon-glass2:before {
    content: "\f000";
}

.icon-music2:before {
    content: "\f001";
}

.icon-search2:before {
    content: "\f002";
}

.icon-envelope-o:before {
    content: "\f003";
}

.icon-heart3:before {
    content: "\f004";
}

.icon-star4:before {
    content: "\f005";
}

.icon-star-o:before {
    content: "\f006";
}

.icon-user5:before {
    content: "\f007";
}

.icon-film2:before {
    content: "\f008";
}

.icon-th-large:before {
    content: "\f009";
}

.icon-th:before {
    content: "\f00a";
}

.icon-th-list:before {
    content: "\f00b";
}

.icon-check:before {
    content: "\f00c";
}

.icon-times:before {
    content: "\f00d";
}

.icon-search-plus:before {
    content: "\f00e";
}

.icon-search-minus:before {
    content: "\f010";
}

.icon-power-off:before {
    content: "\f011";
}

.icon-signal:before {
    content: "\f012";
}

.icon-gear:before {
    content: "\f013";
}

.icon-trash-o:before {
    content: "\f014";
}

.icon-home4:before {
    content: "\f015";
}

.icon-file-o:before {
    content: "\f016";
}

.icon-clock-o:before {
    content: "\f017";
}

.icon-road2:before {
    content: "\f018";
}

.icon-download4:before {
    content: "\f019";
}

.icon-arrow-circle-o-down:before {
    content: "\f01a";
}

.icon-arrow-circle-o-up:before {
    content: "\f01b";
}

.icon-inbox:before {
    content: "\f01c";
}

.icon-play-circle-o:before {
    content: "\f01d";
}

.icon-rotate-right:before {
    content: "\f01e";
}

.icon-refresh:before {
    content: "\f021";
}

.icon-list-alt:before {
    content: "\f022";
}

.icon-lock3:before {
    content: "\f023";
}

.icon-flag2:before {
    content: "\f024";
}

.icon-headphones2:before {
    content: "\f025";
}

.icon-volume-off:before {
    content: "\f026";
}

.icon-volume-down:before {
    content: "\f027";
}

.icon-volume-up:before {
    content: "\f028";
}

.icon-qrcode2:before {
    content: "\f029";
}

.icon-barcode2:before {
    content: "\f02a";
}

.icon-tag2:before {
    content: "\f02b";
}

.icon-tags2:before {
    content: "\f02c";
}

.icon-book2:before {
    content: "\f02d";
}

.icon-bookmark2:before {
    content: "\f02e";
}

.icon-print2:before {
    content: "\f02f";
}

.icon-camera3:before {
    content: "\f030";
}

.icon-font2:before {
    content: "\f031";
}

.icon-bold2:before {
    content: "\f032";
}

.icon-italic2:before {
    content: "\f033";
}

.icon-text-height2:before {
    content: "\f034";
}

.icon-text-width2:before {
    content: "\f035";
}

.icon-align-left:before {
    content: "\f036";
}

.icon-align-center:before {
    content: "\f037";
}

.icon-align-right:before {
    content: "\f038";
}

.icon-align-justify:before {
    content: "\f039";
}

.icon-list3:before {
    content: "\f03a";
}

.icon-dedent:before {
    content: "\f03b";
}

.icon-indent:before {
    content: "\f03c";
}

.icon-video-camera:before {
    content: "\f03d";
}

.icon-photo:before {
    content: "\f03e";
}

.icon-pencil3:before {
    content: "\f040";
}

.icon-map-marker:before {
    content: "\f041";
}

.icon-adjust:before {
    content: "\f042";
}

.icon-tint:before {
    content: "\f043";
}

.icon-edit:before {
    content: "\f044";
}

.icon-share-square-o:before {
    content: "\f045";
}

.icon-check-square-o:before {
    content: "\f046";
}

.icon-arrows:before {
    content: "\f047";
}

.icon-step-backward:before {
    content: "\f048";
}

.icon-fast-backward:before {
    content: "\f049";
}

.icon-backward3:before {
    content: "\f04a";
}

.icon-play4:before {
    content: "\f04b";
}

.icon-pause3:before {
    content: "\f04c";
}

.icon-stop3:before {
    content: "\f04d";
}

.icon-forward4:before {
    content: "\f04e";
}

.icon-fast-forward:before {
    content: "\f050";
}

.icon-step-forward:before {
    content: "\f051";
}

.icon-eject2:before {
    content: "\f052";
}

.icon-chevron-left:before {
    content: "\f053";
}

.icon-chevron-right:before {
    content: "\f054";
}

.icon-plus-circle:before {
    content: "\f055";
}

.icon-minus-circle:before {
    content: "\f056";
}

.icon-times-circle:before {
    content: "\f057";
}

.icon-check-circle:before {
    content: "\f058";
}

.icon-question-circle:before {
    content: "\f059";
}

.icon-info-circle:before {
    content: "\f05a";
}

.icon-crosshairs:before {
    content: "\f05b";
}

.icon-times-circle-o:before {
    content: "\f05c";
}

.icon-check-circle-o:before {
    content: "\f05d";
}

.icon-ban:before {
    content: "\f05e";
}

.icon-arrow-left4:before {
    content: "\f060";
}

.icon-arrow-right4:before {
    content: "\f061";
}

.icon-arrow-up4:before {
    content: "\f062";
}

.icon-arrow-down4:before {
    content: "\f063";
}

.icon-mail-forward:before {
    content: "\f064";
}

.icon-expand3:before {
    content: "\f065";
}

.icon-compress:before {
    content: "\f066";
}

.icon-plus:before {
    content: "\f067";
}

.icon-minus2:before {
    content: "\f068";
}

.icon-asterisk:before {
    content: "\f069";
}

.icon-exclamation-circle:before {
    content: "\f06a";
}

.icon-gift2:before {
    content: "\f06b";
}

.icon-leaf2:before {
    content: "\f06c";
}

.icon-fire2:before {
    content: "\f06d";
}

.icon-eye3:before {
    content: "\f06e";
}

.icon-eye-slash:before {
    content: "\f070";
}

.icon-warning:before {
    content: "\f071";
}

.icon-plane:before {
    content: "\f072";
}

.icon-calendar3:before {
    content: "\f073";
}

.icon-random:before {
    content: "\f074";
}

.icon-comment:before {
    content: "\f075";
}

.icon-magnet2:before {
    content: "\f076";
}

.icon-chevron-up:before {
    content: "\f077";
}

.icon-chevron-down:before {
    content: "\f078";
}

.icon-retweet:before {
    content: "\f079";
}

.icon-shopping-cart:before {
    content: "\f07a";
}

.icon-folder2:before {
    content: "\f07b";
}

.icon-folder-open2:before {
    content: "\f07c";
}

.icon-arrows-v:before {
    content: "\f07d";
}

.icon-arrows-h:before {
    content: "\f07e";
}

.icon-bar-chart-o:before {
    content: "\f080";
}

.icon-twitter-square:before {
    content: "\f081";
}

.icon-facebook-square:before {
    content: "\f082";
}

.icon-camera-retro:before {
    content: "\f083";
}

.icon-key3:before {
    content: "\f084";
}

.icon-gears:before {
    content: "\f085";
}

.icon-comments:before {
    content: "\f086";
}

.icon-thumbs-o-up:before {
    content: "\f087";
}

.icon-thumbs-o-down:before {
    content: "\f088";
}

.icon-star-half:before {
    content: "\f089";
}

.icon-heart-o:before {
    content: "\f08a";
}

.icon-sign-out:before {
    content: "\f08b";
}

.icon-linkedin-square:before {
    content: "\f08c";
}

.icon-thumb-tack:before {
    content: "\f08d";
}

.icon-external-link:before {
    content: "\f08e";
}

.icon-sign-in:before {
    content: "\f090";
}

.icon-trophy2:before {
    content: "\f091";
}

.icon-github-square:before {
    content: "\f092";
}

.icon-upload4:before {
    content: "\f093";
}

.icon-lemon-o:before {
    content: "\f094";
}

.icon-phone2:before {
    content: "\f095";
}

.icon-square-o:before {
    content: "\f096";
}

.icon-bookmark-o:before {
    content: "\f097";
}

.icon-phone-square:before {
    content: "\f098";
}

.icon-twitter4:before {
    content: "\f099";
}

.icon-facebook4:before {
    content: "\f09a";
}

.icon-github6:before {
    content: "\f09b";
}

.icon-unlock:before {
    content: "\f09c";
}

.icon-credit-card:before {
    content: "\f09d";
}

.icon-rss:before {
    content: "\f09e";
}

.icon-hdd-o:before {
    content: "\f0a0";
}

.icon-bullhorn2:before {
    content: "\f0a1";
}

.icon-bell-o:before {
    content: "\f0a2";
}

.icon-certificate:before {
    content: "\f0a3";
}

.icon-hand-o-right:before {
    content: "\f0a4";
}

.icon-hand-o-left:before {
    content: "\f0a5";
}

.icon-hand-o-up:before {
    content: "\f0a6";
}

.icon-hand-o-down:before {
    content: "\f0a7";
}

.icon-arrow-circle-left:before {
    content: "\f0a8";
}

.icon-arrow-circle-right:before {
    content: "\f0a9";
}

.icon-arrow-circle-up:before {
    content: "\f0aa";
}

.icon-arrow-circle-down:before {
    content: "\f0ab";
}

.icon-globe2:before {
    content: "\f0ac";
}

.icon-wrench2:before {
    content: "\f0ad";
}

.icon-tasks:before {
    content: "\f0ae";
}

.icon-filter3:before {
    content: "\f0b0";
}

.icon-briefcase2:before {
    content: "\f0b1";
}

.icon-arrows-alt:before {
    content: "\f0b2";
}

.icon-group:before {
    content: "\f0c0";
}

.icon-chain:before {
    content: "\f0c1";
}

.icon-cloud2:before {
    content: "\f0c2";
}

.icon-flask:before {
    content: "\f0c3";
}

.icon-cut:before {
    content: "\f0c4";
}

.icon-copy4:before {
    content: "\f0c5";
}

.icon-paperclip:before {
    content: "\f0c6";
}

.icon-save:before {
    content: "\f0c7";
}

.icon-square:before {
    content: "\f0c8";
}

.icon-navicon:before {
    content: "\f0c9";
}

.icon-list-ul:before {
    content: "\f0ca";
}

.icon-list-ol:before {
    content: "\f0cb";
}

.icon-strikethrough2:before {
    content: "\f0cc";
}

.icon-underline2:before {
    content: "\f0cd";
}

.icon-table3:before {
    content: "\f0ce";
}

.icon-magic:before {
    content: "\f0d0";
}

.icon-truck2:before {
    content: "\f0d1";
}

.icon-pinterest3:before {
    content: "\f0d2";
}

.icon-pinterest-square:before {
    content: "\f0d3";
}

.icon-google-plus-square:before {
    content: "\f0d4";
}

.icon-google-plus:before {
    content: "\f0d5";
}

.icon-money:before {
    content: "\f0d6";
}

.icon-caret-down:before {
    content: "\f0d7";
}

.icon-caret-up:before {
    content: "\f0d8";
}

.icon-caret-left:before {
    content: "\f0d9";
}

.icon-caret-right:before {
    content: "\f0da";
}

.icon-columns:before {
    content: "\f0db";
}

.icon-unsorted:before {
    content: "\f0dc";
}

.icon-sort-down:before {
    content: "\f0dd";
}

.icon-sort-up:before {
    content: "\f0de";
}

.icon-envelope2:before {
    content: "\f0e0";
}

.icon-linkedin2:before {
    content: "\f0e1";
}

.icon-rotate-left:before {
    content: "\f0e2";
}

.icon-legal:before {
    content: "\f0e3";
}

.icon-dashboard2:before {
    content: "\f0e4";
}

.icon-comment-o:before {
    content: "\f0e5";
}

.icon-comments-o:before {
    content: "\f0e6";
}

.icon-flash:before {
    content: "\f0e7";
}

.icon-sitemap:before {
    content: "\f0e8";
}

.icon-umbrella:before {
    content: "\f0e9";
}

.icon-paste4:before {
    content: "\f0ea";
}

.icon-lightbulb-o:before {
    content: "\f0eb";
}

.icon-exchange:before {
    content: "\f0ec";
}

.icon-cloud-download2:before {
    content: "\f0ed";
}

.icon-cloud-upload2:before {
    content: "\f0ee";
}

.icon-user-md:before {
    content: "\f0f0";
}

.icon-stethoscope:before {
    content: "\f0f1";
}

.icon-suitcase:before {
    content: "\f0f2";
}

.icon-bell2:before {
    content: "\f0f3";
}

.icon-coffee:before {
    content: "\f0f4";
}

.icon-cutlery:before {
    content: "\f0f5";
}

.icon-file-text-o:before {
    content: "\f0f6";
}

.icon-building-o:before {
    content: "\f0f7";
}

.icon-hospital-o:before {
    content: "\f0f8";
}

.icon-ambulance:before {
    content: "\f0f9";
}

.icon-medkit:before {
    content: "\f0fa";
}

.icon-fighter-jet:before {
    content: "\f0fb";
}

.icon-beer:before {
    content: "\f0fc";
}

.icon-h-square:before {
    content: "\f0fd";
}

.icon-plus-square:before {
    content: "\f0fe";
}

.icon-angle-double-left:before {
    content: "\f100";
}

.icon-angle-double-right:before {
    content: "\f101";
}

.icon-angle-double-up:before {
    content: "\f102";
}

.icon-angle-double-down:before {
    content: "\f103";
}

.icon-angle-left:before {
    content: "\f104";
}

.icon-angle-right:before {
    content: "\f105";
}

.icon-angle-up:before {
    content: "\f106";
}

.icon-angle-down:before {
    content: "\f107";
}

.icon-desktop:before {
    content: "\f108";
}

.icon-laptop2:before {
    content: "\f109";
}

.icon-tablet2:before {
    content: "\f10a";
}

.icon-mobile-phone:before {
    content: "\f10b";
}

.icon-circle-o:before {
    content: "\f10c";
}

.icon-quote-left:before {
    content: "\f10d";
}

.icon-quote-right:before {
    content: "\f10e";
}

.icon-spinner7:before {
    content: "\f110";
}

.icon-circle:before {
    content: "\f111";
}

.icon-mail-reply:before {
    content: "\f112";
}

.icon-github-alt:before {
    content: "\f113";
}

.icon-folder-o:before {
    content: "\f114";
}

.icon-folder-open-o:before {
    content: "\f115";
}

.icon-smile-o:before {
    content: "\f118";
}

.icon-frown-o:before {
    content: "\f119";
}

.icon-meh-o:before {
    content: "\f11a";
}

.icon-gamepad:before {
    content: "\f11b";
}

.icon-keyboard-o:before {
    content: "\f11c";
}

.icon-flag-o:before {
    content: "\f11d";
}

.icon-flag-checkered:before {
    content: "\f11e";
}

.icon-terminal:before {
    content: "\f120";
}

.icon-code2:before {
    content: "\f121";
}

.icon-mail-reply-all:before {
    content: "\f122";
}

.icon-star-half-empty:before {
    content: "\f123";
}

.icon-location-arrow:before {
    content: "\f124";
}

.icon-crop2:before {
    content: "\f125";
}

.icon-code-fork:before {
    content: "\f126";
}

.icon-unlink:before {
    content: "\f127";
}

.icon-question2:before {
    content: "\f128";
}

.icon-info3:before {
    content: "\f129";
}

.icon-exclamation:before {
    content: "\f12a";
}

.icon-superscript:before {
    content: "\f12b";
}

.icon-subscript:before {
    content: "\f12c";
}

.icon-eraser:before {
    content: "\f12d";
}

.icon-puzzle-piece:before {
    content: "\f12e";
}

.icon-microphone:before {
    content: "\f130";
}

.icon-microphone-slash:before {
    content: "\f131";
}

.icon-shield2:before {
    content: "\f132";
}

.icon-calendar-o:before {
    content: "\f133";
}

.icon-fire-extinguisher:before {
    content: "\f134";
}

.icon-rocket2:before {
    content: "\f135";
}

.icon-maxcdn:before {
    content: "\f136";
}

.icon-chevron-circle-left:before {
    content: "\f137";
}

.icon-chevron-circle-right:before {
    content: "\f138";
}

.icon-chevron-circle-up:before {
    content: "\f139";
}

.icon-chevron-circle-down:before {
    content: "\f13a";
}

.icon-html53:before {
    content: "\f13b";
}

.icon-css32:before {
    content: "\f13c";
}

.icon-anchor:before {
    content: "\f13d";
}

.icon-unlock-alt:before {
    content: "\f13e";
}

.icon-bullseye:before {
    content: "\f140";
}

.icon-ellipsis-h:before {
    content: "\f141";
}

.icon-ellipsis-v:before {
    content: "\f142";
}

.icon-rss-square:before {
    content: "\f143";
}

.icon-play-circle:before {
    content: "\f144";
}

.icon-ticket2:before {
    content: "\f145";
}

.icon-minus-square:before {
    content: "\f146";
}

.icon-minus-square-o:before {
    content: "\f147";
}

.icon-level-up:before {
    content: "\f148";
}

.icon-level-down:before {
    content: "\f149";
}

.icon-check-square:before {
    content: "\f14a";
}

.icon-pencil-square:before {
    content: "\f14b";
}

.icon-external-link-square:before {
    content: "\f14c";
}

.icon-share-square:before {
    content: "\f14d";
}

.icon-compass2:before {
    content: "\f14e";
}

.icon-toggle-down:before {
    content: "\f150";
}

.icon-toggle-up:before {
    content: "\f151";
}

.icon-toggle-right:before {
    content: "\f152";
}

.icon-euro:before {
    content: "\f153";
}

.icon-gbp:before {
    content: "\f154";
}

.icon-dollar:before {
    content: "\f155";
}

.icon-rupee:before {
    content: "\f156";
}

.icon-cny:before {
    content: "\f157";
}

.icon-ruble:before {
    content: "\f158";
}

.icon-won:before {
    content: "\f159";
}

.icon-bitcoin:before {
    content: "\f15a";
}

.icon-file5:before {
    content: "\f15b";
}

.icon-file-text:before {
    content: "\f15c";
}

.icon-sort-alpha-asc:before {
    content: "\f15d";
}

.icon-sort-alpha-desc:before {
    content: "\f15e";
}

.icon-sort-amount-asc:before {
    content: "\f160";
}

.icon-sort-amount-desc:before {
    content: "\f161";
}

.icon-sort-numeric-asc:before {
    content: "\f162";
}

.icon-sort-numeric-desc:before {
    content: "\f163";
}

.icon-thumbs-up3:before {
    content: "\f164";
}

.icon-thumbs-down:before {
    content: "\f165";
}

.icon-youtube-square:before {
    content: "\f166";
}

.icon-youtube3:before {
    content: "\f167";
}

.icon-xing3:before {
    content: "\f168";
}

.icon-xing-square:before {
    content: "\f169";
}

.icon-youtube-play:before {
    content: "\f16a";
}

.icon-dropbox:before {
    content: "\f16b";
}

.icon-stack-overflow:before {
    content: "\f16c";
}

.icon-instagram2:before {
    content: "\f16d";
}

.icon-flickr5:before {
    content: "\f16e";
}

.icon-adn:before {
    content: "\f170";
}

.icon-bitbucket:before {
    content: "\f171";
}

.icon-bitbucket-square:before {
    content: "\f172";
}

.icon-tumblr3:before {
    content: "\f173";
}

.icon-tumblr-square:before {
    content: "\f174";
}

.icon-long-arrow-down:before {
    content: "\f175";
}

.icon-long-arrow-up:before {
    content: "\f176";
}

.icon-long-arrow-left:before {
    content: "\f177";
}

.icon-long-arrow-right:before {
    content: "\f178";
}

.icon-apple2:before {
    content: "\f179";
}

.icon-windows2:before {
    content: "\f17a";
}

.icon-android2:before {
    content: "\f17b";
}

.icon-linux:before {
    content: "\f17c";
}

.icon-dribbble4:before {
    content: "\f17d";
}

.icon-skype2:before {
    content: "\f17e";
}

.icon-foursquare3:before {
    content: "\f180";
}

.icon-trello:before {
    content: "\f181";
}

.icon-female:before {
    content: "\f182";
}

.icon-male:before {
    content: "\f183";
}

.icon-gittip:before {
    content: "\f184";
}

.icon-sun-o:before {
    content: "\f185";
}

.icon-moon-o:before {
    content: "\f186";
}

.icon-archive:before {
    content: "\f187";
}

.icon-bug2:before {
    content: "\f188";
}

.icon-vk:before {
    content: "\f189";
}

.icon-weibo:before {
    content: "\f18a";
}

.icon-renren:before {
    content: "\f18b";
}

.icon-pagelines:before {
    content: "\f18c";
}

.icon-stack-exchange:before {
    content: "\f18d";
}

.icon-arrow-circle-o-right:before {
    content: "\f18e";
}

.icon-arrow-circle-o-left:before {
    content: "\f190";
}

.icon-toggle-left:before {
    content: "\f191";
}

.icon-dot-circle-o:before {
    content: "\f192";
}

.icon-wheelchair:before {
    content: "\f193";
}

.icon-vimeo-square:before {
    content: "\f194";
}

.icon-turkish-lira:before {
    content: "\f195";
}

.icon-plus-square-o:before {
    content: "\f196";
}

.icon-space-shuttle:before {
    content: "\f197";
}

.icon-slack:before {
    content: "\f198";
}

.icon-envelope-square:before {
    content: "\f199";
}

.icon-wordpress3:before {
    content: "\f19a";
}

.icon-openid:before {
    content: "\f19b";
}

.icon-institution:before {
    content: "\f19c";
}

.icon-mortar-board:before {
    content: "\f19d";
}

.icon-yahoo2:before {
    content: "\f19e";
}

.icon-google2:before {
    content: "\f1a0";
}

.icon-reddit2:before {
    content: "\f1a1";
}

.icon-reddit-square:before {
    content: "\f1a2";
}

.icon-stumbleupon-circle:before {
    content: "\f1a3";
}

.icon-stumbleupon3:before {
    content: "\f1a4";
}

.icon-delicious2:before {
    content: "\f1a5";
}

.icon-digg:before {
    content: "\f1a6";
}

.icon-pied-piper-square:before {
    content: "\f1a7";
}

.icon-pied-piper-alt:before {
    content: "\f1a8";
}

.icon-drupal:before {
    content: "\f1a9";
}

.icon-joomla2:before {
    content: "\f1aa";
}

.icon-language:before {
    content: "\f1ab";
}

.icon-fax:before {
    content: "\f1ac";
}

.icon-building:before {
    content: "\f1ad";
}

.icon-child:before {
    content: "\f1ae";
}

.icon-paw:before {
    content: "\f1b0";
}

.icon-spoon:before {
    content: "\f1b1";
}

.icon-cube:before {
    content: "\f1b2";
}

.icon-cubes:before {
    content: "\f1b3";
}

.icon-behance:before {
    content: "\f1b4";
}

.icon-behance-square:before {
    content: "\f1b5";
}

.icon-steam3:before {
    content: "\f1b6";
}

.icon-steam-square:before {
    content: "\f1b7";
}

.icon-recycle:before {
    content: "\f1b8";
}

.icon-automobile:before {
    content: "\f1b9";
}

.icon-cab:before {
    content: "\f1ba";
}

.icon-tree2:before {
    content: "\f1bb";
}

.icon-spotify:before {
    content: "\f1bc";
}

.icon-deviantart3:before {
    content: "\f1bd";
}

.icon-soundcloud3:before {
    content: "\f1be";
}

.icon-database:before {
    content: "\f1c0";
}

.icon-file-pdf-o:before {
    content: "\f1c1";
}

.icon-file-word-o:before {
    content: "\f1c2";
}

.icon-file-excel-o:before {
    content: "\f1c3";
}

.icon-file-powerpoint-o:before {
    content: "\f1c4";
}

.icon-file-photo-o:before {
    content: "\f1c5";
}

.icon-file-zip-o:before {
    content: "\f1c6";
}

.icon-file-sound-o:before {
    content: "\f1c7";
}

.icon-file-movie-o:before {
    content: "\f1c8";
}

.icon-file-code-o:before {
    content: "\f1c9";
}

.icon-vine:before {
    content: "\f1ca";
}

.icon-codepen:before {
    content: "\f1cb";
}

.icon-jsfiddle:before {
    content: "\f1cc";
}

.icon-life-bouy:before {
    content: "\f1cd";
}

.icon-circle-o-notch:before {
    content: "\f1ce";
}

.icon-ra:before {
    content: "\f1d0";
}

.icon-ge:before {
    content: "\f1d1";
}

.icon-git-square:before {
    content: "\f1d2";
}

.icon-git:before {
    content: "\f1d3";
}

.icon-hacker-news:before {
    content: "\f1d4";
}

.icon-tencent-weibo:before {
    content: "\f1d5";
}

.icon-qq:before {
    content: "\f1d6";
}

.icon-wechat:before {
    content: "\f1d7";
}

.icon-send:before {
    content: "\f1d8";
}

.icon-send-o:before {
    content: "\f1d9";
}

.icon-history2:before {
    content: "\f1da";
}

.icon-circle-thin:before {
    content: "\f1db";
}

.icon-header:before {
    content: "\f1dc";
}

.icon-paragraph:before {
    content: "\f1dd";
}

.icon-sliders:before {
    content: "\f1de";
}

.icon-share-alt:before {
    content: "\f1e0";
}

.icon-share-alt-square:before {
    content: "\f1e1";
}

.icon-bomb:before {
    content: "\f1e2";
}
