.uibuilder-editable-button
{
	position: relative;
	width:100px;
	height:28px;
}

.uibuilder-editable-slider
{
	position: absolute;
	width:100px;
	height:5px;
}

.uibuilder-editable-slider .ui-slider-handle
{
	left:50% !important;
}

.uibuilder-editable-slider.ui-slider-vertical
{
	position: absolute;
	width:5px;
	height:100px;
}

.uibuilder-editable-slider.ui-slider-vertical .ui-slider-handle
{
	left:-0.53em !important;
	top:50% !important;
}

.uibuilder-editframe.ui-state-selected .ui-slider-handle
{
	background: #ABEAAC; 
	border:1px solid #81BC82;
	z-index: 1000;
}

.uibuilder-editable-textfield
{
	width: 100px;
	height: 28px;
	
	position: absolute;
	padding: 3px;
    border: 1px solid #b0b0b0;
    -webkit-box-shadow: inset 0 2px 4px #e5e5e5;
    -moz-box-shadow: inset 0 2px 4px #e5e5e5;
    box-shadow: inset 0 2px 4px #e5e5e5;
    font-size: 14px;
    box-sizing:border-box;
    background: #fff;
    white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.uibuilder-editable-searchfield
{
	width:100px;
	height:28px;
	position: absolute;
	padding: 3px;
    border: 1px solid #b0b0b0;
    -webkit-box-shadow: inset 0 2px 4px #e5e5e5;
    -moz-box-shadow: inset 0 2px 4px #e5e5e5;
    box-shadow: inset 0 2px 4px #e5e5e5; 
    font-size: 14px;
    box-sizing:border-box;
    background: #fff;
    border-radius:20px;
    white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	text-align: left;
}

.uibuilder-editframe-selectmask.appkit-searchfield
{
	border-radius:20px;
}

.uibuilder-editable-searchfield .search-text
{
	margin-left:25px;

}

.uibuilder-editable-searchfield .icon-search,
.uibuilder-editable-searchfield .icon-cancel-circle
{
	top:6px !important;
}

.uibuilder-editable-label
{
	width: 50px;
	height:25px;
	text-align: left;
	border:1px dashed #8694A1;
	overflow: hidden;
	font-size: 14px;
}

.uibuilder-label-icon
{
	text-align: center;
	font-size:14px;
	width:60px;
	height: 50px;
	padding-top:10px;

}