/**
*= require ./jquery-ui.css
*= require ./splitview.css
*= require ./dialog.css
*= require ./box.css
*= require ./button.css
*= require ./checkbox.css
*= require ./combo.css
*= require ./menu.css
*= require ./searchfield.css
*= require ./segmentedcontrol.css
*= require ./sidebar.css
*= require ./slider.css
*= require ./stepper.css
*= require ./radio.css
*= require ./tabview.css
*= require ./toolbar.css
*= require ./icons/style.css
*= require ../fonts/opensans/style.css

**/

body, html {

    margin: 0;
    padding: 0;
    overflow: visible;
    height: 100%;
	width:100%;
	box-sizing:border-box;
    display: block;
    visibility: hidden;
    font: normal 13px "Open Sans", sans-serif;
    position: relative;

}

.ui-textfield {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-textfield input {
    width: 100%;
    height: 100%;
    cursor: inherit;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input, textarea {

    padding: 3px;
    border: 1px solid #b0b0b0;
    -webkit-box-shadow: inset 0 2px 4px #e5e5e5;
    -moz-box-shadow: inset 0 2px 4px #e5e5e5;
    box-shadow: inset 0 2px 4px #e5e5e5;
    height: 28px;
    font-size: 14px;

}

input:focus, textarea:focus {
    border: 1px solid #95b6dc;
    -webkit-box-shadow: inset 0 0px 0px 1px #95b6dc;
    -moz-box-shadow: inset 0 0px 0px 1px #95b6dc;
    box-shadow: inset 0 0px 0px 1px #95b6dc;
    outline: none;
}

input.disabled,
input.disabled:focus {
    opacity: 0.6;
    filter: Alpha(Opacity=60);
    border: 1px solid #c0c0c0; 
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input.error {
    border: 2px solid #FF704D;
}

.ui-state-focus {
    outline: 2px solid #faca0e;
}



.appkit-template {
    display: none;
}

.watermark {
    color: #999;
}