.ui-box {
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    overflow: visible;
    position: relative;
}

.ui-box-back {
    text-align: left;
    height: 18px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -11px;
}

.ui-box-back span {

    background: #fafafa;
    font-weight: bold;
    color: #444;
    font-size: 13px;
    margin: 0 0 0 10px;
    padding: 0 3px;
}
