.ui-button {

    display: block;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #bbb;
    background: #eaeaea;
    text-align: center;
    cursor: pointer;
    line-height: 1.43;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-sizing: border-box;
    font-size: inherit;
}

.ui-button.default {
    text-shadow: 0 1px 0 #fff;
    color: #333333;

}

.ui-button.primary {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    background: #2076bd;
    color: #fff;
    border-color: #1b64a0;
    color: #fff;
}

.ui-button.danger {
    color: #fafafa;
    border: 1px solid #d43f3a;
    background: #d9534f;
}

.ui-button .ui-button-text-wrap {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    box-sizing: border-box;
}

.ui-button .ui-button-text {
    display: table-cell;
    vertical-align: middle;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-button .no-text {
    margin: 0;
}

.ui-button.ui-state-active {
    background: #e0e0e0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.ui-button.primary.ui-state-active {
    background: #1963a2;

}

.ui-button.danger.ui-state-active {
    border: 1px solid #ac2925;
    background: #c9302c;
}

.ui-button.ui-button-disabled {
    cursor: default;
    opacity: 0.6;
    filter: Alpha(Opacity=60); /* support: IE8 */
}




