.ui-checkbox {
    display: table;
    overflow: visible;
    height: auto;

}

.ui-checkbox.disabled {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ui-checkbox-bezel {
    float: left;
    width: 14px;
    height: 14px;
    position: relative;
    border: 1px solid #dadada;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 2px 4px 2px 3px;
    background: #dadada;

}

.ui-checkbox-bezel:hover {
    border-color: #bbb;
}

.ui-checkbox.disabled .checkbox-bezel:hover {
    border-color: #828282;
}

.ui-checkbox-bezel.icon-check {
    color: white;
    background: #1475c2;
    border-color: #1475c2;
}

.ui-checkbox-button-cell {
    display: table;
    width: 100%;
    height: 100%;
    background: none;
    margin-right: 3px;
}

.ui-checkbox .ui-checkbox-label {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    cursor: default;
}