.appkit-combo {
    height: 28px;
}

.ui-combobox {
    position: relative;
    display: block;
    min-width: 100px;
}

.ui-combobox input[type=text]::-ms-clear {
    display: none;
}

.ui-combobox-toggle {

    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    width: 28px;
    height: 28px;
    z-index: 1;
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    color: #555;
    background: none;
    padding: 0 0 1px 0;

}

.ui-combobox-toggle.ui-state-active {
    border: none;
    background: none;
    box-shadow: none;
    color: #222;
}

.ui-combobox.disabled .ui-combobox-toggle {
    color: #ccc;
}

.ui-combobox-input {
    margin: 0;
    min-width: 100px;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

.ui-combobox-menu {
    min-width: 100px;
    border-radius: 0 0 4px 4px;
    border-top: none;
    font-size: 13px;
    padding: 3px 0;
}