.ui-dialog {

    position: relative;
    padding: 0;
    width: 300px;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 6px 18px 0px rgba(30,30,30, .4);
    -moz-box-shadow: 0 6px 18px 0px rgba(30,30,30, .4);
    box-shadow: 0 6px 18px 0px rgba(30,30,30, .4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #bbb;
    border-top: none;
    background: none;
}

.ui-dialog .ui-dialog-titlebar {

    background: #444;
    padding: 8px 5px 8px 5px;
    height: 18px;
    border: none;
    border-bottom: 1px solid #000;
    -moz-border-radius: 4px 4px 0 0;;
    -webkit-border-radius: 4px 4px 0 0;;
    border-radius: 4px 4px 0 0;
    text-align: center;
}

.ui-dialog .ui-dialog-title {

    font-size: 15px;
    text-shadow: none;
    color: #fff;
    margin: auto;
}

.ui-draggable .ui-dialog-titlebar {

    cursor: move;

}

.ui-dialog .ui-dialog-titlebar-tools {
    position: absolute;
    right: 5px;
    top: 8px;
    width: auto;
}

.ui-dialog .ui-dialog-titlebar-min,
.ui-dialog .ui-dialog-titlebar-max,
.ui-dialog .ui-dialog-titlebar-close {

    margin: -1px 0;
    float: right;
    padding: 0px;
    width: 25px;
    height: 23px;
    border: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    font-family: 'icomoon';
    color: #f2f2f2;
    font-size: 14px;
}

.ui-dialog .ui-dialog-titlebar-close:active,
.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-max:active,
.ui-dialog .ui-dialog-titlebar-max:hover,
.ui-dialog .ui-dialog-titlebar-min:active,
.ui-dialog .ui-dialog-titlebar-min:hover {
    background: #222;
}

.ui-dialog .ui-dialog-titlebar-close span {
    display: none;
    height: 0;
}

.ui-dialog .ui-dialog-content {
    position: absolute;
    border: 0;
    padding: 0;
    top:35px;
    left:0;
    bottom:0;
    right:0;
    height: auto !important;
    background: none;
    overflow: hidden;
    width: 100%;
    background: #fafafa;
}

.ui-dialog .ui-dialog-buttonpane {
    display: none;
}

.ui-dialog .ui-resizable-se {
    width: 14px;
    height: 14px;
    right: 2px;
    bottom: 2px;
    background: url(images/ResizeIndicator.png) no-repeat;
}

/* Overlays */
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.4);
}