.ui-menu {

    display: none;
    position: absolute;
    min-width: 160px;
    padding: 4px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    z-index: 10000;
    outline: none;
}

.ui-menubar-item .ui-menu {
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.ui-menu .ui-menu-item {
    display: block;
    position: relative;
    padding: 3px 6px 4px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    cursor: default;

}

.ui-menubar .ui-menu,
.ui-menu.dropmenu {

    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;

}

.ui-menubar .ui-menu {
    border-top: none;
    min-width: 180px;
}

.ui-menu .ui-menu-item.highlighted {
    color: #fff;
    text-decoration: none;
    background-color: #2076bd;
    outline: 0;
}

.ui-menu .ui-menu-item.nohover {
    background: none !important;
    color: #111;
}

.ui-menu .ui-menu-item.disabled {
    opacity: 0.6;
    filter: alpha(opacity=60);
    color: #888;
}

.ui-menu .appkit-menu-item-separator {
    height: 1px;
    margin: 6px 0;
    overflow: hidden;
    background-color: #ddd;
}

.ui-menu .ui-menuitem-accessory {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0;
    background: none;
    color: #3f3f3f;
    font-size: 16px;
}

.ui-menu .ui-menu-item.highlighted .ui-menuitem-accessory,
.ui-menu .highlighted .ui-menuitem-accessory {
    color: #fff;
}

.ui-menu .ui-menu-item .ui-menuitem-check {
    position: absolute;
    left: 3px;
    top: 6px;
    font-size: 13px;
    display: none;
    background: none center no-repeat;
}

.ui-menu .ui-menu-item .ui-menuitem-check.checked {
    color: #222;
    display: block;

}

.ui-menu .ui-menu-item.highlighted .ui-menuitem-check.checked {
    color: #fff;
    font-weight: normal;
    display: block;
}