.ui-radio-group {
    display: block;
    position: relative;
    outline: none;
    width: auto;
    height: auto;
}

.ui-radio-button {
    display: inline-block;
    height: auto;
    width: auto;
}

.ui-radio {
    float: left;
    display: table-cell;
    vertical-align: middle;
    cursor: default;
    width: 14px;
    height: 14px;
    border: 1px solid #dadada;
    background: #dadada;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0px;
    margin: 2px 4px 2px 3px;
    -webkit-box-shadow: 0 0px 1px #a0a0a0;
    -moz-box-shadow: 0 0px 1px #a0a0a0;
    -o-box-shadow: 0 0px 1px #a0a0a0;
    box-shadow: 0 0px 1px #a0a0a0;
}

.ui-radio:hover {
    border-color: #bbb;
}

.ui-radio-button.disabled {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ui-radio-button.disabled .ui-radio:hover {
    border-color: #828282;
}

.ui-radio-inner {

    margin: 4px auto;
    width: 6px;
    height: 6px;
    background: #fafafa;
    display: none;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-sizing: border-box;

}

.ui-radio-button.selected .ui-radio {
    background: #1475c2;
    border-color: #1475c2;
}

.ui-radio-button.selected .ui-radio-inner {
    display: block;

}

.ui-radio-button-cell {
    display: table;
    width: auto;
    height: 100%;
    background: none;
    margin-right: 3px;

}

.ui-radio-button .ui-radio-label {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    width: auto;
    cursor: default;
}