.ui-searchfield {
    outline: none;
    display: block;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-searchfield .icon-search {
    position: absolute;
    left: 7px;
    font-size: 14px;
    color: #555;
}

.ui-searchfield .icon-cancel-circle {
    position: absolute;
    right: 8px;
    font-size: 14px;
    color: #808080;
    display: none;
    cursor: default;
}

.ui-searchfield .icon-cancel-circle.ui-state-active {
    color: #444;
}

.ui-searchfield input {
    border-radius: 20px;
    padding-left: 25px;
    width: 100%;
    height: 100%;

}

.ui-searchfield input[type=text]::-ms-clear {
    display: none;
}

.ui-searchfield input:focus {
    padding-left: 25px;
}

.ui-searchfield input {
    cursor: inherit;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}