.ui-segment {
    height: 100%;
    border: 1px solid #bbb;
    float: left;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border-left-width: 0;

}

.ui-segment.selected {
    background: #c4c4c4;
    color: #2f2f2f;
    text-shadow: 0 1px #d0d0d0;
}

.ui-segment.first {
    border-radius: 4px 0 0 4px;
    border-left-width: 1px;
}

.ui-segment.last {
    border-radius: 0 4px 4px 0;
}

.ui-segmented-control {
    outline: none;
    position: relative;
    display: block;
    background: none;
}