
 
.ui-sidebar {
  cursor: default; 
  overflow:auto !important;
  background-color: #edf1f6 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Verdana,Arial,sans-serif;
  font-size: 11px; 
 
}
.ui-sidebar * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-sidebar > div {
  position: relative; 
}
 
.ui-sidebar .ui-sidebar-div {
  z-index: 1;
  position:absolute;
  left:0;
  top:0;
  right:1px; 
  height:100%;
  padding: 2px 0px; 
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.ui-sidebar .ui-sidebar-div table {
  width: auto;
}
.ui-sidebar .ui-sidebar-div .ui-node {
  background-color: #edf1f6;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin: 0px;
  padding: 1px 0px;
  
}
.ui-sidebar .ui-sidebar-div .ui-node table {
  pointer-events: none;
}
.ui-sidebar .ui-sidebar-div .ui-node .ui-node-caption,
.ui-sidebar .ui-sidebar-div .ui-node .ui-node-image,
.ui-sidebar .ui-sidebar-div .ui-node .ui-node-image > span,
.ui-sidebar .ui-sidebar-div .ui-node td.ui-node-dots {
  color: #000000;
  text-shadow: 0px 0px 0px #ffffff;
  pointer-events: none;
   
}
 
 
.ui-sidebar .ui-sidebar-div .ui-node .ui-node-image {
  width: 22px;
  text-align: center;
  pointer-events: none;
}
.ui-sidebar .ui-sidebar-div .ui-node .ui-node-image > span {
  color: #516173 !important;
}
.ui-sidebar .ui-sidebar-div .ui-node input,
.ui-sidebar .ui-sidebar-div .ui-node button {
  pointer-events: auto;
}
.ui-sidebar .ui-sidebar-div .ui-selected,
.ui-sidebar .ui-sidebar-div .ui-selected:hover {
  background-image: -webkit-linear-gradient(#69b1e0, #4a96d3);
  background-image: -moz-linear-gradient(#69b1e0, #4a96d3);
  background-image: -ms-linear-gradient(#69b1e0, #4a96d3);
  background-image: -o-linear-gradient(#69b1e0, #4a96d3);
  background-image: linear-gradient(#69b1e0, #4a96d3);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff69b1e0', endColorstr='#ff4a96d3', GradientType=0);
  border-top: 1px solid #5295cd;
  border-bottom: 1px solid #2661a6;
}
.ui-sidebar .ui-sidebar-div .ui-selected .ui-node-caption,
.ui-sidebar .ui-sidebar-div .ui-selected:hover .ui-node-caption,
.ui-sidebar .ui-sidebar-div .ui-selected .ui-node-image,
.ui-sidebar .ui-sidebar-div .ui-selected:hover .ui-node-image,
.ui-sidebar .ui-sidebar-div .ui-selected .ui-node-image > span,
.ui-sidebar .ui-sidebar-div .ui-selected:hover .ui-node-image > span,
.ui-sidebar .ui-sidebar-div .ui-selected td.ui-node-dots,
.ui-sidebar .ui-sidebar-div .ui-selected:hover td.ui-node-dots {
  color: #ffffff !important;
  text-shadow: 1px 1px 2px #666666 !important;
  
}
.ui-sidebar .ui-sidebar-div .ui-disabled,
.ui-sidebar .ui-sidebar-div .ui-disabled:hover {
  background: transparent !important;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.ui-sidebar .ui-sidebar-div .ui-disabled .ui-node-caption,
.ui-sidebar .ui-sidebar-div .ui-disabled:hover .ui-node-caption,
.ui-sidebar .ui-sidebar-div .ui-disabled .ui-node-image,
.ui-sidebar .ui-sidebar-div .ui-disabled:hover .ui-node-image,
.ui-sidebar .ui-sidebar-div .ui-disabled .ui-node-image > span,
.ui-sidebar .ui-sidebar-div .ui-disabled:hover .ui-node-image > span,
.ui-sidebar .ui-sidebar-div .ui-disabled td.ui-node-dots,
.ui-sidebar .ui-sidebar-div .ui-disabled:hover td.ui-node-dots {
  opacity: 0.4;
  filter: alpha(opacity=40);
  color: #000000 !important;
  text-shadow: 0px 0px 0px #ffffff !important;
}
.ui-sidebar .ui-sidebar-div .ui-node-caption {
  white-space: nowrap;
  padding: 5px 0px 5px 3px;
  margin: 1px 0px 1px 22px;
  position: relative;
  z-index: 1;
  font-size: 12px;
}
.ui-sidebar .ui-sidebar-div .ui-node-group {
  white-space: nowrap;
  overflow: hidden; 
  padding: 10px 0px 10px 10px;
  margin: 0px;
  cursor: default;
  color: #868b92;
  background-color: transparent; 
}
.ui-sidebar .ui-sidebar-div .ui-node-group :nth-child(1) {
  /* show / hide link */
  margin-right: 10px;
  float: right;
  color: transparent;
}
.ui-sidebar .ui-sidebar-div .ui-node-group :nth-child(2) {
  /* title text */
  font-weight: normal;
  text-transform: uppercase;
}
.ui-sidebar .ui-sidebar-div .ui-node-sub {
  overflow: hidden; 
}
.ui-sidebar .ui-sidebar-div .ui-node-flat {
  padding: 6px 0px;
  text-align: center;
}
.ui-sidebar .ui-sidebar-div .ui-node-flat .ui-node-image {
  text-align: center;
  width: auto;
}
.ui-sidebar .ui-sidebar-div .ui-node-flat .ui-node-image > span {
  font-size: 16px;
  color: #000000;
  text-shadow: 0px 0px 0px #ffffff;
}
.ui-sidebar .ui-sidebar-div .ui-node-flat .ui-node-image.ui-icon {
  width: 21px;
}
.ui-sidebar .ui-sidebar-div td.ui-node-dots {
  width: 18px;
  padding: 0px 0px 1px 7px;
  text-align: center;
}
.ui-sidebar .ui-sidebar-div td.ui-node-dots .ui-expand {
  width: 16px;
  margin-top:-2px;
  pointer-events: auto;
  font-size:16px;
}
.ui-sidebar .ui-sidebar-div td.ui-node-data {
  padding: 1px 1px 3px 1px;
}
.ui-sidebar .ui-sidebar-div td.ui-node-data .ui-node-image {
  padding: 4px 0;
  float: left;
}
.ui-sidebar .ui-sidebar-div td.ui-node-data .ui-node-image > span {
  font-size: 16px;
  color: #000000;
  text-shadow: 0px 0px 0px #ffffff;
}
.ui-sidebar .ui-sidebar-div td.ui-node-data .ui-node-image.ui-icon {
  margin-top: 3px;
}
.ui-sidebar .ui-sidebar-div td.ui-node-data .ui-node-count {
  float: right;
  border: 1px solid #6f9dc7;
  border-radius: 20px;
  width: auto;
  height: 18px;
  padding: 0px 5px 10px 5px;
  margin: 5px; 
  background-color: #e7f0fc;
  color: #667274;
  box-shadow: 0 0 0px #ffffff;
  text-shadow: 1px 1px 1px #e6e6e6;
  position: relative;
  z-index: 2;
}