.appkit-slider,
.ui-slider {
    position: relative;
    display: block;
    text-align: left;
    background: #d4d4d4;
    overflow: visible !important;
    border: 1px solid #b5b5b5;
    font-weight: normal;
    color: #4F4F4F;
    margin: 0px;
    padding: 0;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: inset 0 1px 3px #a0a0a0;
    -moz-box-shadow: inset 0 1px 3px #a0a0a0;
    -o-box-shadow: inset 0 1px 3px #a0a0a0;
    box-shadow: inset 0 1px 3px #a0a0a0;
    box-sizing: border-box;

}

.ui-slider .ui-slider-handle {
    position: absolute;
    display: block;
    z-index: 5;
    cursor: default;
    width: 16px;
    height: 16px;
    border: 1px solid #828282;
    background: #f4f4f4;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 0px;
    -ms-touch-action: none;
    touch-action: none;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    top: 0;
    font-size: .7em;
    display: block;
    border: 0;
    background: #1475c2;
}

.ui-slider.disabled {
    opacity: 0.7;

}

/* support: IE8 - See #6727 */
.ui-slider.disabled .ui-slider-handle,
.ui-slider.disabled .ui-slider-range {
    filter: inherit;
}

.ui-slider-horizontal {
    height: 6px !important;
    min-height: 6px;
    max-height: 6px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -0.51em;
    margin-left: -9px;
}



.ui-slider-vertical {
    width: 6px !important;
    min-width: 6px;
    max-width: 6px;
}

.ui-slider-vertical .ui-slider-handle {
    left: -.5em;
    margin-top: -9px;
}


.ui-circular-slider {

    padding: 0px;
    cursor: default;
    width: 28px !important;
    height: 28px !important;
    min-width: 28px;
    max-width: 28px;
    min-height: 28px;
    max-height: 28px;
    border: 1px solid #a0a0a0;
    background: #f0f0f0;
    -moz-border-radius: 28px;;
    -o-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    padding: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box;

}

.circular-knob {

    position: relative;
    padding: 0px;
    width: 6px;
    height: 6px;

    cursor: default !important;
    background: url(images/slider/slider-circular-knob.png) no-repeat;

}

.ui-circular-slider.disabled {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.ui-circular-slider.disabled .cpcircular-knob {
    background: url(images/slider/slider-circular-disabled-knob.png) no-repeat;

}