.ui-splitview {
    background: #fafafa;
    position: relative;
    display: block;
	overflow:hidden;
}

.ui-splitview .view {
	overflow:hidden;
    position: absolute;
    display: block;
}

.view-divider.horizontal {

    position: absolute;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;

    background: #e5e5e5;
    background: -webkit-linear-gradient(
            to right,
            #ddd, #fafafa
    );
    background: linear-gradient(
            to right,
            #ddd, #fafafa
    );

    width: 8px;
    height: 100%;
    top: 0;
    zoom: 1;
	z-index:10;
    outline: none;
    cursor: col-resize;
}

.view-divider.vertical {

    position: absolute;
    background: #e5e5e5;
    background: -webkit-linear-gradient(to bottom, #ddd, #fafafa);
    background: linear-gradient(to bottom, #ddd, #fafafa);
    width: 100%;
    height: 8px;
    left: 0;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    position: absolute;
    zoom: 1;
	z-index:10;
    outline: none;
    cursor: row-resize;

}

.view-divider.vertical.fixed, .view-divider.horizontal.fixed {
    cursor: inherit !important;
}

.view-divider.no-thick.horizontal {
    border: none;
    border-left: 1px solid #888;
}

.view-divider.no-thick.vertical {
    border: none;
    border-bottom: 1px solid #888;
}