.ui-stepper {
    outline: none;
}

.ui-spinner {
    position: relative;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    border: 0 none;
    width: 100%;
    height: 100%;

}

.ui-spinner-input {
    color: #444;
    background: #fff;
    display: block;
    padding: 3px;
    border: 1px solid #b0b0b0;
    height: 100%;
    width: 100%;
    margin: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.ui-spinner input[type=text]::-ms-clear {
    display: none;
}

.ui-spinner-button {
    width: 16px;
    height: 50%;
    font-size: .6em;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    cursor: default;
    display: block;
    right: 0;
    color: #4f4f4f;
    background: #eee;
    border-color: #b0b0b0;
    border-radius: 0;

}

.ui-spinner-down {
    border-top: none;
}

.ui-stepper.disabled {
    opacity: 0.7;
}
