.ui-tabs {
    position: relative;
    zoom: 1;
    border: 0;
    background: transparent;
    padding: 0;
    display: block;
}

.ui-tabs .ui-tabs-nav {
    background: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    position: relative;
    white-space: nowrap;
    padding: 0;
    height: auto;
    min-height: 32px;
    overflow: hidden;
    border: none;
    display: block;
    box-sizing: border-box;

}

.ui-tabs .ui-tabs-nav li {

    list-style: none;
    display: inline-block;
    position: relative;
    top: 0;
    margin: 0px .2em 0 0;
    padding: 0 1px 0 0;
    white-space: nowrap;
    border: 1px solid #b0b0b0;
	border-bottom-width:0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #555;
    background: #f0f0f0;
    z-index: 100;
    max-height: 31px;
    box-sizing: border-box;

}

.ui-tabs .ui-tabs-nav li.first-tab {
    margin-left: 16px;
}

.ui-tabs .ui-tabs-nav li.last-tab {
    margin-right: 16px;
}

.ui-tabs .ui-tabs-nav li .ui-tab-label {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    text-shadow: none;

}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected,
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background: #fff;
    z-index: 5;
    margin-top: 0;
    color: #444;
    margin-bottom: -1px;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    max-height: 32px;

}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected .ui-tab-label,
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tab-label,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tab-label,
.ui-tabs .ui-tabs-nav li.ui-state-processing .ui-tab-label {
    cursor: text;
    outline: none;
    z-index: 10;
}

.ui-tabs .ui-tabs-nav li .ui-tab-label,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected .ui-tab-label,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tab-label {
    cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
    display: block;
    position: absolute;
    top: 31px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    padding: 1em 1.4em;
    background: #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: 1px solid #b0b0b0;
}

.ui-tabs .ui-tabs-hide {
    display: none !important;
}


.ui-tabs .ui-tab-close {
    width: 12px;
    height: 12px;
    float: right;
    margin-top: 10.5px;
    margin-right: 5px;
    background: none;
    font-size: 9px;
    color: #6f6f6f;
    cursor: pointer;

}

.ui-tabs .ui-tab-close:hover {
    color: #111;
}

/** Custom browser css - to fix top border issue **/

/* chrome & opera */
.ui-tabs .ui-tabs-nav li.chrome {
    border-bottom: none;
    padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.chrome.ui-tabs-selected,
.ui-tabs .ui-tabs-nav li.chrome.ui-tabs-active {
    padding-bottom: 2px;
}

/* safari  */
.ui-tabs .ui-tabs-nav li.safari {
    border-bottom: none;
    padding-bottom: 2px;
}

.ui-tabs .ui-tabs-nav li.safari.ui-tabs-selected,
.ui-tabs .ui-tabs-nav li.safari.ui-tabs-active {
    padding-bottom: 3px;

}