.ui-toolbar {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 54px;
    margin: 0px;
    padding: 0px;
    background: #444;
    overflow: hidden;
    border: none;
    border-bottom: 1px solid #2f2f2f;
    z-index: 1;
}

.ui-toolbar-item {
    position: relative;
    float:left;
    margin: 0 2px 0 2px;
    min-width: 64px;
    width: auto;
    height: 54px;
    font-size: 24px;
    padding-top: 5px;
    text-align: center;
    box-sizing: border-box;
    background: transparent;
    color: #fff;
    font-weight: normal;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.ui-toolbar-item.ui-state-selected {
    background: #222;

}

.ui-toolbar-item .ui-toolbar-item-label {
    font-size: 12px;
    color: #fff;
    position: absolute;
    bottom: 2px;
    width: 100%;
    cursor: default;
    text-align: center;

}

.ui-toolbar-item.ui-state-hover {
    background: #2f2f2f;
}

.ui-toolbar-item.ui-state-active {
    background: #222;
}

.ui-toolbar-item.disabled {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ui-toolbar-item .ui-toolbar-item-image {
    text-align: center;
    margin: 5px auto;
    width: 100%;
    height: 32px;
    width: 32px;
    background: transparent;

}

.ui-toolbar-item-separator {
    width: 0px;
    height: 48px;
    border-right: 1px solid #a3a3a3;
    float: left;
    display: block;
    margin-top: 6px;
}

.ui-toolbar-item-flex {
    float:left;
    height: 48px;
    box-sizing: border-box;
    width: 10px;
    margin-top: 6px;
    background: transparent;
    border: none;
}

.ui-toolbar .ui-push-button.selected {
    background: #777;
    border: 1px solid #777;
    box-shadow: inset 0 0 10px 1px #3f3f3f;

}

.ui-toolbar .ui-push-button.selected label {
    color: #fafafa;
    text-shadow: 0 1px #3f3f3f;
}